.title{
    width:90% ;

    margin: auto;
height: auto;
background-color: turquoise;
/* border: 1px solid red; */
color: white;
}

.heading{
    color: aliceblue;
 
    font-size: 35px;
}
.content{
    width: 80%;
    height: auto;
 margin: auto;
    line-height: 40px;
    color: white;
    /* border: 1px solid yellow; */
    font-size: 20px;
    font-weight: 400;
}
.but1{
    background-color: aliceblue;
    color: black;
    margin-top: 40px;
    margin-bottom: 30px;
    border: 1px solid white;
    border-radius: 6px;
    width: 98px;
    height: 29px;
}